{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
<table class = "table table-striped editable">
<thead>
  <tr>
    <th class="company">
        Company
    </th>
    <th class="item">
        Item
    </th>
    <th class="amount">
        Amount
    </th>
    <th class="reason">
        Reason
    </th>
    <th class="unnecessary">
        Unnecessary
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="company">
    </td>
    <td class="item">
    </td>
    <td class="amount">
    </td>
    <td class="reason">
    </td>
    <td class="unnecessary">
      <input type="checkbox"></input>
    </td>
  </tr>
  <tr>
    <td class="company">
    </td>
    <td class="item">
    </td>
    <td class="amount">
    </td>
    <td class="reason">
    </td>
    <td class="unnecessary">
      <input type="checkbox"></input>
    </td>
  </tr>
  <tr>
    <td class="company">
    </td>
    <td class="item">
    </td>
    <td class="amount">
    </td>
    <td class="reason">
    </td>
    <td class="unnecessary">
      <input type="checkbox"></input>
    </td>
  </tr>
  <tr>
    <td class="company">
    </td>
    <td class="item">
    </td>
    <td class="amount">
    </td>
    <td class="reason">
    </td>
    <td class="unnecessary">
      <input type="checkbox"></input>
    </td>
  </tr>
  <tr>
    <td class="company">
    </td>
    <td class="item">
    </td>
    <td class="amount">
    </td>
    <td class="reason">
    </td>
    <td class="unnecessary">
      <input type="checkbox"></input>
    </td>
  </tr>
  <tr>
    <td class="company">
    </td>
    <td class="item">
    </td>
    <td class="amount">
    </td>
    <td class="reason">
    </td>
    <td class="unnecessary">
      <input type="checkbox"></input>
    </td>
  </tr>
  <tr>
    <td class="company">
    </td>
    <td class="item">
    </td>
    <td class="amount">
    </td>
    <td class="reason">
    </td>
    <td class="unnecessary">
      <input type="checkbox"></input>
    </td>
  </tr>
</tbody>

{% endblock content %}
